<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <div class="caption">
      <%= link_to hospital_personnel.surname, hospital_personnel_path(hospital_personnel) %>
      <p>Квалификация: <%= hospital_personnel.position %></p>
    </div>
  </div>
</div>