<div class="col-sm-6 col-md-3">
  <div class="thumbnail">
    <div class="caption">
      <%= link_to personnel.surname, personnel_path(personnel) %>
      <p>Квалификация: <%= personnel.position %></p>
    </div>
  </div>
</div>