<h3 class="buffer-bottom">Список персонала</h3>

<div class="buffer-bottom">
  <%= link_to 'Создать сотрудника', new_personnel_path, class: 'btn btn-primary' if user_signed_in? %>
</div>

<div class="row buffer-top">
  <%= render partial: 'personnels/personnel', collection: @personnels %>
</div>
